


<section id="footer">

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="footerheading">Location</h1>
        <p>afaefafiajfifjaflks;a</p>
      </div>
      <div class="col-sm-4">
        <h1 class="footerheading">Working Hours</h1>
        <p>adwagaydgaywgdiwgdiuga</p>
      </div>
      <div class="col-sm-4 last">
        <h2 class="lastheading">M&M's Kitchen</h2>
        <p>adwd@aaddaw.com</p>
      </div>
    </div>
  </div>

</section>




</body>

</html>
