<%- include("partials/header.ejs") %>

<div class="jumbotron jumbo">
  <h1 class="display-4">Thank You!</h1>
  <p class="lead">Thanks for your booking.</p>
  <hr class="my-4">
  <p class="jumbop">We will inform you the status on your email. Keep checking your inbox for confirmation. </p>
  <a class="btn jumbobtn btn-outline-dark btn-lg" href="/" role="button">Home</a>
</div>

<%- include("partials/footer.ejs") %>
