<%- include("partials/header.ejs") %>



    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 class="heading">A Premium & Authentic Restaurant</h1>
          <a href="/reservation"><button type="button" class="btn btn-outline-light">Book A Table</button></a>
        </div>
        <div class="col-sm">
          <img class="panimg" src="images/image.png" alt="">
        </div>
      </div>
    </div>

  </section>

  <section id="body">

    <div class="container" id="aboutus">
      <div class="row">
        <div class="col-sm story-img story">
          <img class="ourstoryimg" src="images/burger.jpg" alt="">
        </div>
        <div class="col-sm text story">
          <h2>Discover</h2>
          <h1 class="storyh1">Our Story</h1>
          <p class="storyp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br><a href="#">Learn more about us:</a>


        </div>
      </div>
    </div>

    <!--................... MENU......................... -->

    <div class="container" id="menu">
      <div class="row">
        <div class="col-sm menu menutext">
          <h2>Discover</h2>
          <h1>Our Menu</h1>
        </div>
        <div class="col-sm menu menucontent">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm item1">
          <img class="item1img" src="images/spaghetti.png" alt="">
        </div>
        <div class="col-sm item1">
          <h1 class="itemheading">Item1</h1>
          <p class="itemp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row rowitem2">
        <div class="col-sm item2 item2text">
          <h1 class="itemheading">Item2</h1>
          <p class="itemp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-sm item2">
          <img class="item2img" src="images/chickenplate.png" alt="">
        </div>
        <a class="morefood" href="#">More Food --></a>
      </div>

    </div>



    <div class="container">
      <div class="row">
        <div class="col-sm events story-img story">
          <img class="ourstoryimg" src="images/restaurant.jpg" alt="">
        </div>
        <div class="col-sm events text story">
          <h2>Discover</h2>
          <h1 class="storyh1">Upcoming Events</h1>
          <p class="storyp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>



    <div class="ingredients">
      <h2>Discover</h2>
      <h1>Best Ingredients</h1>
      <br>
      <p class="ingredientsP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <br><img class="ingredientsimg" src="images/ingredients.jpg" alt="">
    </div>


    <div class="reservation" id="res">
      <img class="pub" src="images/pub.jpg" alt="">
      <h2 class="reservationcontent">Reservation</h2>
      <h1 class="reservationcontent1">Book Your Table</h1>
      <a href="/reservation"><button type="button" class="btn reservationcontent2 btn-outline-dark">Book Now!</button></a>
    </div>


  </section>



<%- include("partials/footer.ejs") %>
